{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Stadium list</h1>

    <table class="records_list table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Type</th>
                <th>Address</th>
                <th>Suburb</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Status</th>
                <th>Chain</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('stadium_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.typetext }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.suburb }}</td>
                <td>{{ entity.state }}</td>
                <td>{{ entity.postcode }}</td>
                <td>{{ entity.statustext }}</td>
                <td>
                    <span class="glyphicon {{ entity.chainicon }}" aria-hidden="true"></span>
                </td>
                <td>
                    <a href="{{ path('stadium_show', { 'id': entity.id }) }}" class="btn btn-info">show</a>
                    <a href="{{ path('stadium_edit', { 'id': entity.id }) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('stadium_new') }}" class="btn btn-success">
        Create a new entry
    </a>

    {% endblock %}
