{{ form_start(staForm) }}
{% for court in entity.courts %}
    <button class="btn btn-primary court" type="button" id="court-{{ court.id }}">
        Court <span class="badge">{{ court.id }}</span>
    </button>
    <input type="checkbox" name="court-check-{{ court.id }}" class="court-check" id="court-check-{{ court.id }}" value="{{ court.additionalFare}}">
{% endfor %}
<h3>
    Price: ${{ entity.unitPrice }}/{{ entity.unit }}
</h3>
<h3>
    Total: <span id="total-price">$0.00</span>
</h3>
{{ form_widget(staForm) }}
<input type="hidden" value="{{ entity.id }}" name="stadiumId">
{{ form_end(staForm) }}
<script>
    $(".court").click(function(){
        if($(this).next("input[type=checkbox]").is(":checked") === true){
            $(this).next("input[type=checkbox]").prop('checked', false);
        } else {
            $(this).next("input[type=checkbox]").prop('checked', true);
        }
        console.log("$"+ parseFloat(calculateHirepadTotal()) + parseFloat(calculatePeopleTotal()));
        $("#total-price").html("$"+ (parseFloat(calculateHirepadTotal()) + parseFloat(calculatePeopleTotal())));
    });

    $("#sportfunbundle_stadiumtennis_court_addition").change(function(){
        $("#total-price").html("$"+ (parseFloat(calculateHirepadTotal()) + parseFloat(calculatePeopleTotal())));
    });

    $("#sportfunbundle_stadiumtennis_court_maxpeople").change(function(){
        $("#total-price").html("$"+ (parseFloat(calculateHirepadTotal()) + parseFloat(calculatePeopleTotal())));
    });

    $("#sportfunbundle_stadiumtennis_hirepad").change(function(){
        $("#total-price").html("$"+ (parseFloat(calculateHirepadTotal()) + parseFloat(calculatePeopleTotal())));
    });

    function calculatePeopleTotal(){
        var courtAdditionalPeoplePrice = 0;
        $.each($('input:checkbox:checked'), function(index, element){
            courtAdditionalPeoplePrice += parseFloat($(element).val() * $("#sportfunbundle_stadiumtennis_court_addition").val());
        });
        var numberOfPeople = parseFloat($("#sportfunbundle_stadiumtennis_court_maxpeople").val()) + parseFloat($("#sportfunbundle_stadiumtennis_court_addition").val());
        courtAdditionalPeoplePrice += parseFloat(numberOfPeople * {{ entity.unitPrice }});
        return courtAdditionalPeoplePrice;
    }

    function calculateHirepadTotal(){
        return parseFloat($("#sportfunbundle_stadiumtennis_hirepad").val() * {{ entity.hirepadPrice }});
    };
</script>


