{% extends "::base.html.twig" %}

{% block title %}Stadium management{% endblock %}

{% block body %}
<h1>Stadium details</h1>

    <div class="panel panel-info">
            <div class="panel-heading">
                Details
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.contactPerson) }}
                {{ form_row(form.contactNumber) }}
                {{ form_row(form.contactEmail) }}
                {{ form_row(form.description) }}
                {{ form_row(form.logo) }}
                {{ form_row(form.tag) }}
                {{ form_row(form.address) }}
                {{ form_row(form.suburb) }}
                {{ form_row(form.state) }}
                {{ form_row(form.postcode) }}
                {{ form_row(form.incinsurance) }}
                {{ form_row(form.incGST) }}
                {{ form_row(form.equipRequired) }}
                <div class="div-hidden" id="equipments">
                    <h5>Please add/remove your equipments</h5>
                    <div id="equip-details"></div>
                </div>
                {{ form_row(form.submit) }}
            </div>
        </div>
    {% for court in stadium.courts %}
        <div class="panel panel-info">
            <div class="panel-heading">
                Court {{ loop.index }}
            </div>
            <div class="panel-body">
                <div>
                   <b>
                        Max people:
                   </b>
                   {{ court.maxpeople }}
                </div>
                <div>
                   <b>
                        Fees for additional people
                   </b>
                   ${{ court.additionalFare }} each
                </div>
                <div class="button-row">
                    <a href="{{ path('court-details',{'id':court.id}) }}" class="btn btn-info">Edit</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div>
        <a class="btn btn-danger" href="{{ path("court-add",{"id":stadium.id}) }}">Add court</a>
    </div>
    <p>
        <form id="hirepadform">
            <input type="hidden" name="stadiumid" value="{{ stadium.id }}" />
            <div class="form-group">
                <div>
                    Available for hiring pad?
                    <input type="checkbox" name="hirepad" id="hirepad" value="1"
                            {% if stadium.hirepad%} checked="checked" {% endif %}>
                </div>
                <label id="price-label">Price for each pad</label>
                <div class="input-group col-lg-2">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" name="hirePrice" id="hirePrice" value="{{ stadium.hirepadPrice }}">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-success" id="saveHirePrice">Save</button>
                  </div>
                </div>
            </div>
        </form>
    </p>
    <script>
        $(document).ready(function(){
            toggleBox();
            toggleEquip();
        });

        $("#sportfunbundle_stadiumadmin_equipRequired").change(function(){
            toggleEquip();
        });

        $("#hirepad").click(function(){
            toggleBox();
            //save hirepad status
            updatePadHireDetails();
        });

        $("#saveHirePrice").click(function(){
            updatePadHireDetails();
        });

        function toggleEquip(){
            if($("#sportfunbundle_stadiumadmin_equipRequired").val() == 0){
                //this is the yes selection -- don't know why, true is 0, false is 1....
                $("#equipments").show();
            } else {
                $("#equipments").hide();
            }
        }

        function toggleBox(){
            if($("#hirepad").prop('checked')){
                $("#hirePrice").parent().show();
                $("#price-label").show();
            } else {
                $("#hirePrice").parent().hide();
                $("#price-label").hide();
            }
        }

        function updatePadHireDetails(){
            $.post("/manage/hirepad",$('#hirepadform').serialize());
        }


    </script>
{% endblock %}
