{% extends "::base.html.twig" %}

{% block title %}Booking order details{% endblock %}

{% block body %}
<h2>Booking order details</h2>
    <h4>Following is your order details:</h4>
    <div>
        Total: ${{ order.total }}
    </div>
    <div>
        Order date and time: {{ order.datetimeCreated|date("d/m/Y H:i:s") }}
    </div>
    <div>
        <h4>
            Order items:
        </h4>
        {% for item in order.bookingOrderItems %}
            <div>
                {{ item.name }}: {{ item.quantity }}
            </div>
        {% endfor %}
    </div>
    <hr>
    <form name="sportfunbundle_billingdetails" method="POST" action="{{ path("payment") }}">
        <h2>Address details</h2>
        {{ form_widget(addressForm) }}
        <hr>
        <h2>Payment details</h2>
        Please enter your credit card details underneath
        <input type="hidden" value="{{ order.id }}" name="order_id">
        {{ form_widget(ccForm) }}
    </form>
{% endblock %}
